# --- C Build Artifacts ---
# Object files (intermediate compilation)
*.o

# Libraries (if you build them later)
*.a
*.so

# Executables (Add specific names as you create projects)
*.out
*.exe
main
server
client
mystring_test
leaky_bucket
hex_tool

# Debugger Core Dumps (Valgrind or GDB crashes)
core
vgcore.*

# --- OS System Files ---
.DS_Store
.DS_Store?
._*

# --- VS Code & Environment ---
# Ignore local user settings, but keep .devcontainer!
.vscode/

# If you use C++ intellisense cache
.app/
.clang/
